h2{
    font-size: 50px;
}

body{
	padding: 10px;
	background-color: #B0914F;
	font-size: 125%;
}

img{
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: outset #4F6EB0 10px;
    border-radius: 30px;
}

img:nth-of-type(even):hover {
    transform: scale(1.1);
  }

li{
    display: inline-block;
    margin: 5px;
}

.active{
    color: darkred;
    border: solid darkred;
}

p{
    display: inline-block;
    text-align: left;
}

dt{
    margin: 0px;
    font-size: larger;
    font-weight: bold;
}

dt{
    margin: 10px;
    padding: 5px;
}
