
h1{
    font-size: 50px;
    padding: 15px 0px 3px 0px;
    font-family: 'Nunito Sans';
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.goodfreephotos.com%2Falbums%2Ftextures%2Fcrumpled-paper-texture.jpg&f=1&nofb=1&ipt=18f72dedb4416f974fbf1643d8217a1e86cb8fbde48d6ec51c8c306a841042e2&ipo=images");
    font-weight: bolder;
    font-style: italic;
    color: #8A0E00;
}

h2{
    font-size: 40px;
    padding: 15px 0px 3px 0px;
    font-weight: bold;
    font-family: 'Nunito Sans';
}

.skip-link{
    display: none;
}

.skip-link:focus {
    display: inline-block;
}

h3{
    font-size: 25px;
    padding: 0px 0px 0px 0px;
    font-weight: bold;
    font-family: 'Nunito Sans';
}

body{
	padding: 10px;
	background-color: hsl(71, 100%, 72%);
	font-size: 125%;
}

button {
    font-size: 24px;
    padding: 5px 5px;
    margin: 10px;
    background-color: antiquewhite;
    font-family: 'Nunito Sans';
    border-style: groove;
    border-width: 5px;
}

img{
    width: 45%;
    padding: 10px;
    margin: 5px;
    border: outset #41fb3a 10px;
    border-radius: 30px;
}

img:active{
    background-color: #8A0E00;
}


li{
    display: inline-block;
    margin: 2px;
    font-family: 'Nunito Sans';
}

@keyframes background-color {
    from {background-color: #41fb3a;}
    to {background-color: antiquewhite;}
}

.lit h3, .lit ul, .lit p{
    background-color: antiquewhite;
    animation-name: background-color;
    animation-duration: 3s;
}

.active{
    color: #8A0E00;
    border: solid #8A0E00;
}

p{
    display: inline-block;
    text-align: left;
    padding: 5px 5px 20px 5px;
    font-family: 'Nunito Sans';
}

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-gap: 10px;
}

.about img{
    grid-row: 2;
    min-width: 350px;
}

@media (min-width: 768px) {
    .about {
      display: grid;
      grid-template-columns: repeat(3fr);
      grid-template-rows: auto;
      grid-gap: 20px;
    }

    .about img{
        grid-row: 1;
    }

    img:active{
        background-color: #8A0E00;
    }
}

@media (min-width: 1024px) {
    .about {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
      grid-gap: 10px;
    }

    .about h3{
        grid-column: 1;
    }

    .about h3{
        background-color: #41fb3a;
    }

    img:hover{
        background-color: #8A0E00;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }

  li a {
    display: inline-table;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a.active {
    background-color: #000000;
    color: white;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

dd {
    font-weight: bold;
}

@media (min-width: 768px) {
    .lit{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 30px;
    }

    .lit h2{
        padding: 10px 0px 10px 10px;
    }

    .lit:nth-child(odd) img{
        grid-column: 1 / 1;
        grid-row: 2 / span 4;
        border-style: ridge;
    }

    .lit:nth-child(even) img{
        grid-column: 2 / 2;
        grid-row: 2 / span 4;
        border-style: ridge;
    }

    .lit:nth-child(even) p{
        grid-column: 1 / 1;
    }

    .lit:nth-child(odd) p{
        grid-column: 2 / 2;
    }

    .lit:nth-child(odd) h3{
        grid-column: 1 / 2;
        padding: 0px 10px 10px 0px;
    }

    .lit:nth-child(even) h3{
        grid-column: 1 / 1;
        padding: 0px 10px 40px 0px;
    }

    .lit:nth-child(odd) h3{
        grid-column: 2 / 2;
        padding: 0px 10px 40px 0px;
    }

    .lit:nth-child(even) ul{
        grid-column: 1 / 1;
    }

    .lit:nth-child(odd) ul{
        grid-column: 2 / 2;
    }

    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #f1f1f1;
      }

      li a {
        display: inline-block;
        padding: 8px 16px;
      }

    img{
        width: 95%;
    }
}

.hist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    min-height: 70px;
    margin: 20px 50px 20px 20px;
}

.hist img {
    max-width: 600px;
    height: auto;
}

@media (min-width: 768px) {
    .hist{
        display: flex;
        align-content: space-around;
        justify-content: center;
        min-height: fit-content;
    }
}

@media (min-width: 1024px) {
    .hist{
        display: flex;
        align-items: start;
        margin: 30px 30px 30px 30px;
    }
}



@keyframes move {
    from {
      object-position: 600px 0;
    }

    to {
      object-position: 100%;
    }
  }


.hist img{
    margin: 10px 0px 20px 10px;
    animation-name: move;
    animation-duration: 3s;
}


.hist h2{
    padding: 10px 30px 0px 10px;
}

.hist img:hover{
    background-color: #04AA6D;
}

.hist p{
    background-color: antiquewhite;
    animation-name: background-color;
    animation-duration: 3s;
}

.dict {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 10px;
  }

  .dict dt {
    grid-column: span 2;
  }

.dict dt{
    margin: 0px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Nunito Sans';
    grid-row: 1;
    grid-column: span 4;
    margin: 10px;
    padding: 5px;
    font-family: 'Nunito Sans';
}

.dict dl{
    font-family: 'Nunito Sans';
}

.dict dd{
    font-family: 'Nunito Sans';
    column-span: 1 / 4;
}

.dict {
        display: grid;
        grid-template-columns: 50% 50% 50% 50%;
        grid-gap: 5px;
}


@media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0s;
      transition-duration: 0s;
    }
  }
